In [2]:
import pandas as pd
import numpy as np
import zipfile

In [4]:
zip_path = "../data/raw/Estabelecimentos0.zip"

with zipfile.ZipFile(zip_path) as z:
    file_name = z.namelist()[0]
    with z.open(file_name) as f:
        df = pd.read_csv(
            f,
            sep=";",
            encoding="latin1",
            header=None,
            dtype=str,
            low_memory=False
        )

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,04523124,0001,02,1,FAQ HSBC ROLAND GARROS,08,20041203,01,NaN,NaN,...,7535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,55811855,0001,94,1,LOJINHA DO OSCAR,08,19860804,09,NaN,NaN,...,6579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,04523145,0001,28,1,STAGIO,08,20150219,01,NaN,NaN,...,8729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,73640872,0001,98,1,NaN,08,20081231,71,NaN,NaN,...,0425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,55812150,0001,91,1,NaN,08,19891214,01,NaN,NaN,...,6929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.iloc[0]

0                   04523124
1                       0001
2                         02
3                          1
4     FAQ HSBC ROLAND GARROS
5                         08
6                   20041203
7                         01
8                        NaN
9                        NaN
10                  20010620
11                   6470101
12                       NaN
13                  TRAVESSA
14            OLIVEIRA BELLO
15                        34
16                   4 ANDAR
17                    CENTRO
18                  80020030
19                        PR
20                      7535
21                       NaN
22                       NaN
23                       NaN
24                       NaN
25                       NaN
26                       NaN
27                       NaN
28                       NaN
29                       NaN
Name: 0, dtype: object

In [7]:
# Escrevendo CPF completo
df["CNPJ"] = df[0] + df[1] + df[2]

df_reduzido = df[["CNPJ", 10]].copy()
df_reduzido.columns = ["CNPJ", "data_abertura"]

# Convertendo o formato de data
df_reduzido["data_abertura"] = pd.to_datetime(
    df_reduzido["data_abertura"],
    format="%Y%m%d",
    errors="coerce"
)

#Se tiver data inválida, apagar
df_reduzido = df_reduzido.dropna(subset=["data_abertura"])

# Escolhendo amostras aleatórias
amostra = df_reduzido.sample(n=100, random_state=42).reset_index(drop=True)

#Apagando 20 delas
indices_apagar = np.random.choice(amostra.index, size=20, replace=False)
amostra.loc[indices_apagar, "data_abertura"] = pd.NaT

amostra.to_csv("cnpjs_amostra.csv", index=False)

print("Arquivo salvo com sucesso.")

Arquivo salvo com sucesso.